<p appTitle="Sign Up" class="card-text text-center">Please sign up with your email address.</p>
<app-form [formGroup]="formGroup" (submitted)="onSubmit()">
  <app-text-box
    name="email"
    label="Email"
    type="email"
    autoComplete="username"
    [labelAsPlaceholder]="true"
    [isEnabled]="!email"
  ></app-text-box>
  <app-text-box name="password" label="Password" type="password" autoComplete="current-password" [labelAsPlaceholder]="true"></app-text-box>
  <app-submit-button [isBlock]="true">Sign Up</app-submit-button>
</app-form>
